.latest {
  &-title {
    margin-top: 20px;
    font: {
      size: 21px;
      weight: $fw-xb;
    }
    color: #F38281;

    text: {
      transform: uppercase;
      align: left;
    }
  }
  &-geo {
    background: url("../icons/GEO.png");
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  &-main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  &-info {
    display: flex;
    width: 400px;
    flex-direction: column;
    &-title {
      color: #C6CBCD;
      font: {
        size: 70px;
        weight: 900;
      }
    }
    &-description {
      color: #C6CBCD;
    }
    &-upper {
      display: flex;
      flex-direction: column;
      gap: 35px
    }
    &-followers {
      color: #2D3033;
      font: {
        weight: 400;
        family: "Raleway", sans-serif;
        size: 18px;
        style: italic;
      }
    }
    &-followers a {
      color: #2D3033;
      font: {
        weight: 700;
        family: "Raleway", sans-serif;
        size: 20px;
        style: normal;
      }
    }
    &-follow {
      color: #C6CBCD;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
    &-follow p {
      display: flex;
      gap: 5px;
      flex-direction: row;
      font: {
        size: 20px;
        style: italic;
      }
      margin: 0;

    }
    &-socials {
      display: flex;
      justify-content: center;
      gap: 20px;

    }
    &-social img {
      width: 15.47px;
      height: 15.47px;
    }
    &-form {
      display: flex;
      justify-content: space-between;
      height: 50px;
      box-shadow: 0px 0px 2px;
      margin-top: 50px;
    }
    &-input {
      width: 70%;
      height: 100%;
      font: {
        size: 20px
      }
      text-align: center;
      outline: none;
      border: none;
    }
    &-input::placeholder {
      color: #C6CBCD;
    }
    &-button {
      width: 30%;
      height: 100%;
      background-color: #95E1D3;
      color: white;
      border: none;
      text-transform: uppercase;
      font: {
        weight: 600;
        size: 15px;
      }
      margin-top: auto;
      margin-bottom: auto;
    }
    &-button:active,
    &-button:focus  {
      border:none;
    }
  }
  &-blog {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 48px;
    &-title {
      font: {
        size: 32px;
        weight: 700;
        style: normal;
      }
      text-transform: uppercase;
    }
    &-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    &-icon img {
      width: 170px;
      height: 105px;
    }
    &-name {
      font: {
        size: 16px;
        weight: 700;
      }
      text-transform: uppercase;
    }
    &-date {
      font-style: italic;
    }
  }
  &-instagram {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 48px;
    &-title {
      font: {
        size: 32px;
        weight: 700;
        style: normal;
      }
      text-transform: uppercase;
    }
    &-images {
      display: grid;
      grid-template-columns: 30% 30% 30%;
    }
    &-image img {
      width: 100%;
      height: 100px;
    }
    &-allphotos {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
  &-columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
  }
  &-overhead {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/img_18.png");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150px;
    background-size: 100%;
    background-position: center center;
  }
  &-line {
    width: 170px;
    height: 3px;
    border-top: 4px solid $red;
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    opacity: 1;
  }
  &-copyright div {
    width: 70%;
    border-top: solid 1px $grey;
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &-copyright {
    display: flex;
    justify-content: center;
  }
}