.services {
  height: 100%;
  color: $black;
  font-size: 18px;
  @include flexify($wrap: wrap, $justify: center);
    padding: {
    top: 20px;
    bottom: 20px;

  }

  &-line {
    width: 170px;
    height: 3px;
    border-top: 4px solid $red;
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    opacity: 1;
  }
  &-title {
    font: {
      size: 24px;
      weight: $fw-xb;
    }
    text-transform: uppercase;
  }
  &-item {
    display: flex;
    gap: 20px;
  }
  &-overhead {
    font: {
      family: $ff-kaushan;
      size: 24px;
      weight: $fw-r;
    }
    text-transform: uppercase
  }

    .icon-preview {
    width: 100%;
    height: 50px;
  }
}
.hero-row {
  width: 170px;
  height: 4px;
  background-color: $red;
  display:block;
}

