$white: #fff;
$black: #2D3033;
$red: #F38281;
$green: #95E1D3;
$yellow: #F9EFCF;
$yellow2: #F4BF87;
$grey: #C6CBCD;

$primary: $green;
$secondary: $yellow2;

$bp-xs: 425px;
$bp-sm: 768px;
$bp-md: 991px;
$bp-lg: 1024px;
$bp-xl: 1180px;

$ff-base: 'Raleway', sans-serif;
$fw-r: 400;
$fw-b: 600;
$fw-n: 700;
$fw-xb: 900;
$fw-m: 500;

$ff-kaushan: 'Kaushan Script', sans-serif;

$grid-padding: 15px;

